@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: rgb(59 130 246);
}

.conversion {
  background-color: #ffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 6px;
  width: 400px;
  height: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

p {
  margin-left: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.input {
  display: block;
  width: 90%;
  margin: 10px auto;
  outline: none;
  height: 25px;
  border: 1px solid black;
  border-radius: 3px;
}

input[type="number"] {
  padding: 7px;
}
