@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
}

.bg-1 {
  background-color: var(--orange);
}
.bg-2 {
  background-color: var(--cyan);
}
.bg-3 {
  background-color: var(--dark-cyan);
}
.f-1 {
  color: var(--orange);
}
.f-2 {
  color: var(--cyan);
}
.f-3 {
  color: var(--dark-cyan);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.grid-cover {
  display: grid;
  align-items: center;
  width: 926px;
  height: 480px;
  grid-template-columns: repeat(3, 1fr);
  transition: all 0.3 ease;
}

.items {
  margin: 45px;
}

img {
  font-size: 20px;
}

.title {
  font-family: "Big Shoulders Display", sans-serif;
  margin: 38px 0;
  color: white;
  text-transform: uppercase;
}

.caption {
  font-family: "Lexend Deca", sans-serif;
  color: white;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 75px;
  font-size: 15px;
}

button {
  font-family: "Lexend Deca", sans-serif;
  background-color: white;
  font-weight: 700;
  width: 140px;
  height: 45px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

@media (max-width: 968px) {
  .grid-cover {
    display: grid;
    align-items: center;
    width: 768px;
    height: 480px;
    grid-template-columns: repeat(2, 1fr);
    transition: all 0.3 ease;
  }
}

@media (max-width: 768px) {
  .grid-cover {
    display: grid;
    max-width: 375px;
    height: 440px;
    grid-template-columns: repeat(1, 1fr);
    transition: all 0.3 ease;
  }
}
